<!DOCTYPE html>

<head>
	<title>Omorfium Template</title>
	<meta  charset="utf-8">
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
<!--			<a href="index.html"><img class="logo" src="images/logo.png" alt=""></a>-->
			<ul class="navigation">
				<li>
					<a  href="/">Home</a>
				</li>
				<li>
					<a href="{% url 'blog:character' %}">Character List</a>
				</li>
				<li>
					<a href="{% url 'blog:about' %}">About</a>
				</li>
				<li>
					<a href="blog">Blog</a>
				</li>
<!--				<li>-->
<!--					<a href="forum">Forum</a>-->
<!--				</li>-->
			</ul>
		</div>
		<div id="body">
<!--			<div class="featured"> <img src="/static/images/featured-game-character-home.jpg" alt=""> <a href="character.html" class="">Check Items in Character List</a> </div>-->
			<div id="content">
				<div class="content">
<!--					<ul class="articles">-->
					{% block left %}

					{% endblock %}
					</ul>

				</div>
				{% block q%}


<!--				<div id="sidebar">-->

<!--					<h1><span>Popular Items</span></h1>-->
<!--					<ul class="items">-->
<!--						<li>-->
<!--							<a href="index.html"><img src="/static/images/boots-of-mage.png" alt=""></a>-->
<!--							<h2><a href="index.html">Boots of Mage</a></h2>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="index.html"><img src="/static/images/cloack-of-wizardry.png" alt=""></a>-->
<!--							<h2><a href="index.html">Cloack of Wizardry</a></h2>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="index.html"><img src="/static/images/gloves-of-artimis.png" alt=""></a>-->
<!--							<h2><a href="index.html">Gloves of Artimis</a></h2>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="index.html"><img src="/static/images/dragons-tear.png" alt=""></a>-->
<!--							<h2><a href="index.html">Dragon’s Tear</a></h2>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="index.html"><img src="/static/images/power-booster.png" alt=""></a>-->
<!--							<h2><a href="index.html">Power Booster</a></h2>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="index.html"><img src="/static/images/snake-armor.png" alt=""></a>-->
<!--							<h2><a href="index.html">Snake Armor</a></h2>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="index.html"><img src="/static/images/snake-dagger.png" alt=""></a>-->
<!--							<h2><a href="index.html">Snake Dagger</a></h2>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="index.html"><img src="/static/images/wings-of-speed.png" alt=""></a>-->
<!--							<h2><a href="index.html">Wings of speed</a></h2>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="index.html"><img src="/static/images/winged-boots.png" alt=""></a>-->
<!--							<h2><a href="index.html">Winged Boots</a></h2>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="index.html"><img src="/static/images/dragon-mirror.png" alt=""></a>-->
<!--							<h2><a href="index.html">Dragon Mirror</a></h2>-->
<!--						</li>-->
<!--					</ul>-->
<!--					<a href="index.html"  class="more">&nbsp;</a> </div>-->
				{% endblock %}
			</div>
		</div>
		<div id="footer"> <span>&copy; 2012 <a href="index.html">Omorfium</a>. All rights reserved.&nbsp;<a href="http://www.cssmoban.com" title="网站模板" target="_blank">网站模板</a></span> </div>
	</div>
</body>
</html>