{% extends "blog/bases.html" %}





<!--<!DOCTYPE html>-->

<head>
	<title>Character List - Omorfium Template</title>
	<meta  charset="utf-8">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<!--<body>-->
<!--	<div id="page">-->
<!--		<div id="header">-->
<!--			<a href="index.html"><img class="logo" src="images/logo.png" alt=""></a>-->
<!--			<ul class="navigation">-->
<!--				<li>-->
<!--					<a href="index.html">Home</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<a class="active" href="character.html">Character List</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="about.html">About</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="blog.html">Blog</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="forum.html">Forum</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div>-->
<!--		<div id="body">-->
<!--			<div id="content">-->
<!--				<div class="content">-->
{% block left %}
					<ul class="characters">

						{% for introduces in introduce %}
						<li>

							<a href="character.html"><img src="/static/media/{{ introduces.pic }}" alt=""></a>
							<a href="character.html"><img class="powers" src="/static/media/{{ introduces.pics }}" alt=""></a>
<!--							<a href="character.html"><img class="/static/media/{{ introduce.pic }}" alt=""></a>-->
							<h2><a href="character.html">{{introduces.title}}</a></h2>
							<label><span>{{introduces.body}}</span> {{introduces.body}}</label>
<!--							<label><span>{{introduces.body}}</span> {{introduces.body}}</label>-->
<!--							<label><span>{{introduces.body}}</span>{{introduces.body}}</label>-->
<!--							<label><span>{{introduces.body}}</span> {{introduces.body}} </label>-->
						</li>
						   {% endfor %}
						{% endblock %}
<!--						<li>-->
<!--							<a href="character.html"><img src="images/damager-character.png" alt=""></a> <a href="character.html"><img class="powers" src="images/tekrumorz-power-character.png" alt=""></a>-->
<!--							<h2><a href="character.html">[Damager] Tekrumoz</a></h2>-->
<!--							<label><span>Character Type:</span> Damager/Tanker</label>-->
<!--							<label><span>Stats:</span> Strength, Vitality,</label>-->
<!--							<label><span>Items:</span> Dragon’s tear, Power booster, Snake Armor, Snake Dagger </label>-->
<!--							<label><span>Skills:</span> Fast track, Hello Wave, Powershock, </label>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="character.html"><img src="images/spell-caster-magenta-character.png" alt=""></a> <a href="character.html"><img class="powers" src="images/magenta-powers-character.png" alt=""></a>-->
<!--							<h2><a href="character.html">[Spell-Caster] Magenta</a></h2>-->
<!--							<label><span>Character Type:</span> Spell-Caster</label>-->
<!--							<label><span>Stats:</span> Intillegence and Vitality</label>-->
<!--							<label><span>Items:</span> Cloak of Wizardry, Winged Boots, Wings of Speed, Gloves of Artimis</label>-->
<!--							<label><span>Skills:</span> Raving Eyes, Death Rage, Chalant </label>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="character.html"><img src="images/support-assasin-character.png" alt=""></a> <a href="character.html"><img class="powers" src="images/assasin-powers-character.png" alt=""></a>-->
<!--							<h2><a href="character.html">[Support] Assasin</a></h2>-->
<!--							<label><span>Character Type:</span> Support/Damager</label>-->
<!--							<label><span>Stats:</span> Agility, Strength, and Vitality</label>-->
<!--							<label><span>Items:</span> Snake’s Armor, Snake Dagger, Dragon Mirror, Dragon’s Tear </label>-->
<!--							<label><span>Skills:</span> Crimson blood, Hawl, Broken Ice </label>-->
<!--						</li>-->
					</ul>
					<ul class="paging">
						<li class="first">
							<a href="character.html">First</a>
						</li>
						<li>
							<ul>
								<li>
									<a href="character.html" class="active">1</a>
								</li>
								<li>
									<a href="character.html">2</a>
								</li>
								<li>
									<a href="character.html">3</a>
								</li>
								<li>
									<a href="character.html">4</a>
								</li>
								<li>
									<a href="character.html">5</a>
								</li>
								<li>
									<a href="character.html">6</a>
								</li>
								<li>
									<a href="character.html">7</a>
								</li>
								<li>
									<a href="character.html">8</a>
								</li>
								<li>
									<a href="character.html">9</a>
								</li>
								<li>
									<a href="character.html">10</a>
								</li>
							</ul>
						</li>
						<li class="last">
							<a href="character.html">Last</a>
						</li>
					</ul>
				</div>

<!--右侧内容-->{% block q %}
				<div id="sidebar">
					<h2>职业列表</h2>
					{% for rolelist in rolelists %}
					<ul class="articles">
						<li>
							<a class="active" href="character.html">{{rolelist.name}}</a>
						</li>
						{% endfor %}
						{% endblock %}
<!--						<li>-->
<!--							<a href="character.html">Damagers</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="character.html">Spell-Caster</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="character.html">Healer/Support</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="character.html">Engineers</a>-->
<!--						</li>-->
<!--					</ul>-->
<!--					<ul class="connect">-->
<!--						<li>-->
<!--							<a href="#" class="googleplus">&nbsp;</a> <a href="#go/facebook/" class="facebook">&nbsp;</a> <a href="#go/twitter/" class="twitter">&nbsp;</a>-->
<!--						</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div id="footer"> <span>&copy; 2012 <a href="index.html">Omorfium</a>. All rights reserved.&nbsp;<a href="http://www.cssmoban.com" title="网站模板" target="_blank">网站模板</a></span> </div>-->
<!--	</div>-->
<!--</body>-->
<!--</html>-->