<!DOCTYPE html>

<head>
	<title>Forum - Omorfium Template</title>
	<meta  charset="utf-8">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<a href="index.html"><img class="logo" src="images/logo.png" alt=""></a>
			<ul class="navigation">
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="character.html">Character List</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a class="active" href="forum.html">Forum</a>
				</li>
			</ul>
		</div>
		<div id="body">
			<div id="content">
				<div id="forum">
					<div class="content">
						<ul class="forum">
							<li class="header">
								<ul>
									<li class="first">
										<h1><a href="forum.html">OMORFIUM</a>> <a class="active" href="forum.html">Forum</a></h1>
									</li>
									<li>
										<h1>Stats</h1>
									</li>
									<li class="last">
										<h1>Last Post</h1>
									</li>
								</ul>
							</li>
							<li>
								<ul>
									<li class="first">
										<h2><a href="forum-post.html">General Discussion</a></h2>
									</li>
									<li>
										<label>Threads: <span>00,000</span></label>
										<label>Posts: <span>00,000</span></label>
									</li>
									<li class="last">
										<label>The Game</label>
										<label>by <span>AyaKurimao</span></label>
										<label>Today, <span>11:32 AM</span></label>
									</li>
								</ul>
							</li>
							<li class="odd">
								<ul>
									<li class="first">
										<h2><a href="forum-post.html">Character Support</a></h2>
									</li>
									<li>
										<label>Threads: <span>00,000</span></label>
										<label>Posts: <span>00,000</span></label>
									</li>
									<li class="last">
										<label>The Game</label>
										<label>by <span>AyaKurimao</span></label>
										<label>Today, <span>11:32 AM</span></label>
									</li>
								</ul>
							</li>
							<li>
								<ul>
									<li class="first">
										<h2><a href="forum-post.html">Technical Support</a></h2>
									</li>
									<li>
										<label>Threads: <span>00,000</span></label>
										<label>Posts: <span>00,000</span></label>
									</li>
									<li class="last">
										<label>The Game</label>
										<label>by <span>AyaKurimao</span></label>
										<label>Today, <span>11:32 AM</span></label>
									</li>
								</ul>
							</li>
							<li class="odd">
								<ul>
									<li class="first">
										<h2><a href="forum-post.html">Suggestions</a></h2>
									</li>
									<li>
										<label>Threads: <span>00,000</span></label>
										<label>Posts: <span>00,000</span></label>
									</li>
									<li class="last">
										<label>The Game</label>
										<label>by <span>AyaKurimao</span></label>
										<label>Today, <span>11:32 AM</span></label>
									</li>
								</ul>
							</li>
							<li>
								<ul>
									<li class="first">
										<h2><a href="forum-post.html">Bug Report</a></h2>
									</li>
									<li>
										<label>Threads: <span>00,000</span></label>
										<label>Posts: <span>00,000</span></label>
									</li>
									<li class="last">
										<label>The Game</label>
										<label>by <span>AyaKurimao</span></label>
										<label>Today, <span>11:32 AM</span></label>
									</li>
								</ul>
							</li>
							<li class="odd">
								<ul>
									<li class="first">
										<h2><a href="forum-post.html">Off-topic Discussions</a></h2>
									</li>
									<li>
										<label>Threads: <span>00,000</span></label>
										<label>Posts: <span>00,000</span></label>
									</li>
									<li class="last">
										<label>The Game</label>
										<label>by <span>AyaKurimao</span></label>
										<label>Today, <span>11:32 AM</span></label>
									</li>
								</ul>
							</li>
							<li>
								<ul>
									<li class="first">
										<h2><a href="forum-post.html">Fan Arts</a></h2>
									</li>
									<li>
										<label>Threads: <span>00,000</span></label>
										<label>Posts: <span>00,000</span></label>
									</li>
									<li class="last">
										<label>The Game</label>
										<label>by <span>AyaKurimao</span></label>
										<label>Today, <span>11:32 AM</span></label>
									</li>
								</ul>
							</li>
							<li class="odd">
								<ul>
									<li class="first">
										<h2><a href="forum-post.html">Shop for Items</a></h2>
									</li>
									<li>
										<label>Threads: <span>00,000</span></label>
										<label>Posts: <span>00,000</span></label>
									</li>
									<li class="last">
										<label>The Game</label>
										<label>by <span>AyaKurimao</span></label>
										<label>Today, <span>11:32 AM</span></label>
									</li>
								</ul>
							</li>
						</ul>
						<div class="footer">
							<div>
								<p>
									This website template has been collect from <a href="#">#</a> for you, for free. 
									You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. 
									If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="#">#/forum</a>.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer"> <span>&copy; 2012 <a href="index.html">Omorfium</a>. All rights reserved.&nbsp;<a href="http://www.cssmoban.com" title="网站模板" target="_blank">网站模板</a></span> </div>
	</div>
</body>
</html>